nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#heading{
	color:#0066ff;
	font-size: 2em;
}
#right-nav{
	display: flex;
	align-items: center;
}
#right-nav a{
	font-size: 1.4em;
}
.content{
	
}
.article, #description{
	margin:0.5em;
	box-shadow: 1px 1px 1px 1px grey;
	padding: 0.5em;
}
#description{
	font-size: 1.2em;
}
#posts h3{
	font-size: 1.6em;
}
#article-heading{
	color:black;
	font-size:1.5em;
}
#summary{
	color:grey;
	font-size: 1.2em;
}
#continue{
	color:#0066ff;
	font-size: 1.1em;
}